For your required portfolio submission, we want you to create a body of work that visually describes, comments and interprets the theme of community.  Your project should focus on all of the intricacies that make up communities, including:  social, political and geographical considerations. 
We hope that your project will demonstrate some of the desired attributes that we seek in our Foundation Students
	•	Willingness to learn
	•	Curiosity, open-mindedness
	•	Poetry and imagination
	•	Capacity for hard work, experimentation, exploration
	•	Critical thinking 
	•	Sophistication: a personal connection to art and design
	•	Obsession, passion, urgency, a driven quality, a need to be creative
	•	Engagement with materials, a love of material exploration

Full portfolio requirements are located here: