Willingness to learn
Curiosity, open-mindedness
Poetry and imagination
Capacity for hard work, experimentation, exploration
Critical thinking
Sophistication: a personal connection to art and design
Obsession, passion, urgency, a driven quality, a need to be creative
Engagement with materials, a love of material exploration